/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_global.scss */
body {
  overflow: hidden;
  background: url(../images/background.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 8, ../sass/_global.scss */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  height: 50px;
  background: gray;
}
/* line 17, ../sass/_global.scss */
header nav li {
  float: left;
  margin: 5px 1%;
  width: 15%;
  list-style-type: none;
}

/* line 26, ../sass/_global.scss */
#preload {
  position: absolute;
  z-index: 99;
  width: 250px;
  height: 80px;
  font-size: 2em;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -40px;
  background-color: white;
  padding: 10px;
  background-image: url(../images/preload.gif);
  background-repeat: no-repeat;
  background-position: 50%;
}

/* line 43, ../sass/_global.scss */
#container {
  position: absolute;
  top: 50%;
  margin-top: -300px;
}

/* line 49, ../sass/_global.scss */
.pointer {
  cursor: pointer;
}

/* line 1, ../sass/_timeline.scss */
#overlay {
  position: absolute;
  top: 50%;
  margin-top: -90px;
  left: 300px;
}

/* line 9, ../sass/_timeline.scss */
#articles-thumbs {
  padding-left: 500px;
  opacity: 0;
}

/* line 14, ../sass/_timeline.scss */
.article {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  background-size: cover;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 22, ../sass/_timeline.scss */
.article h2 {
  font-size: 23px;
}
/* line 25, ../sass/_timeline.scss */
.article .year {
  font-size: 4em;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 30, ../sass/_timeline.scss */
.article:hover {
  cursor: pointer;
}
/* line 32, ../sass/_timeline.scss */
.article:hover .year {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 35, ../sass/_timeline.scss */
.article:hover h2, .article:hover span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 41, ../sass/_timeline.scss */
.decade-title {
  width: 175px;
  height: 95;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  top: 100px;
  z-index: 100;
  margin-left: 76px;
}
/* line 50, ../sass/_timeline.scss */
.decade-title h2 {
  font-size: 5em;
  line-height: 100px;
  color: #a04e8e;
}

/* line 57, ../sass/_timeline.scss */
#top, #bottom {
  min-height: 300px;
  height: 50%;
  overflow-y: hidden;
}

/* line 63, ../sass/_timeline.scss */
#bottom {
  margin-top: 5px;
  margin-left: 76px;
}

/* line 68, ../sass/_timeline.scss */
#timeline {
  position: fixed;
  left: 10%;
  bottom: 0;
  z-index: 99;
  background-color: gray;
  font-size: 90%;
  width: 80%;
}
/* line 76, ../sass/_timeline.scss */
#timeline:hover {
  cursor: move;
}
/* line 79, ../sass/_timeline.scss */
#timeline ul {
  list-style-type: none;
  line-height: 2em;
}
/* line 83, ../sass/_timeline.scss */
#timeline li {
  -webkit-user-select: none;
  float: left;
  padding-left: 25px;
  text-align: right;
  margin: 5px;
  border-bottom: 1px solid black;
}

/* line 1, ../sass/_articleviewer.scss */
#article {
  width: 1000px;
  position: absolute;
  top: 50%;
  margin-top: -300px;
}
/* line 7, ../sass/_articleviewer.scss */
#article .content img {
  float: left;
}
/* line 9, ../sass/_articleviewer.scss */
#article .content img:after {
  clear: both;
}
/* line 13, ../sass/_articleviewer.scss */
#article .content > * {
  margin: 10px;
}
/* line 18, ../sass/_articleviewer.scss */
#article #viewer {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 23, ../sass/_articleviewer.scss */
#article #viewer h2 {
  font-size: 24px;
}
/* line 28, ../sass/_articleviewer.scss */
#article #byCategory {
  width: 400px;
  position: absolute;
  left: 620px;
  top: 0;
}
/* line 33, ../sass/_articleviewer.scss */
#article #byCategory h2 {
  font-size: 24px;
}
/* line 36, ../sass/_articleviewer.scss */
#article #byCategory ul {
  overflow: hidden;
}
