/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_global.scss */
body {
  overflow: hidden;
  background: url(../images/background.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 8, ../sass/_global.scss */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  height: 50px;
  background: gray;
}
/* line 17, ../sass/_global.scss */
header nav li {
  float: left;
  margin: 5px 1%;
  width: 15%;
  list-style-type: none;
}

/* line 26, ../sass/_global.scss */
#preload {
  position: absolute;
  z-index: 99;
  width: 250px;
  height: 80px;
  font-size: 2em;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -40px;
  background-color: white;
  padding: 10px;
  background-image: url(../images/preload.gif);
  background-repeat: no-repeat;
  background-position: 50%;
}

/* line 43, ../sass/_global.scss */
#container {
  position: absolute;
  top: 50%;
  margin-top: -300px;
}

/* line 49, ../sass/_global.scss */
.pointer {
  cursor: pointer;
}

/* line 1, ../sass/_timeline.scss */
#overlay {
  position: absolute;
  top: 50%;
  margin-top: -90px;
  left: 300px;
}

/* line 9, ../sass/_timeline.scss */
#articles-thumbs {
  padding-left: 500px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  height: 605px;
}

/* line 17, ../sass/_timeline.scss */
.article {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  background-size: cover;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 25, ../sass/_timeline.scss */
.article h2 {
  font-size: 23px;
}
/* line 28, ../sass/_timeline.scss */
.article .year {
  font-size: 4em;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 33, ../sass/_timeline.scss */
.article:hover {
  cursor: pointer;
}
/* line 35, ../sass/_timeline.scss */
.article:hover .year {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 38, ../sass/_timeline.scss */
.article:hover h2, .article:hover span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 44, ../sass/_timeline.scss */
.decade-title {
  width: 175px;
  height: 95;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  top: 100px;
  z-index: 100;
  margin-left: 76px;
}
/* line 53, ../sass/_timeline.scss */
.decade-title h2 {
  font-size: 5em;
  line-height: 100px;
  color: #a04e8e;
}

/* line 60, ../sass/_timeline.scss */
#top, #bottom {
  min-height: 300px;
  height: 50%;
  overflow-y: hidden;
}

/* line 66, ../sass/_timeline.scss */
#bottom {
  margin-top: 5px;
  margin-left: 76px;
}

/* line 71, ../sass/_timeline.scss */
#timeline {
  position: fixed;
  left: 35%;
  bottom: 0;
  z-index: 99;
  background-color: gray;
  font-size: 90%;
  /*width: 30%;
  overflow: hidden;*/
  height: auto;
  max-height: 40px;
}
/* line 82, ../sass/_timeline.scss */
#timeline div {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
}
/* line 88, ../sass/_timeline.scss */
#timeline:hover {
  cursor: move;
}
/* line 91, ../sass/_timeline.scss */
#timeline ul {
  list-style-type: none;
  line-height: 2em;
}
/* line 95, ../sass/_timeline.scss */
#timeline li {
  -webkit-user-select: none;
  float: left;
  padding-left: 25px;
  text-align: right;
  margin: 5px;
  border-bottom: 1px solid black;
}

/* line 1, ../sass/_articleviewer.scss */
#article {
  z-index: -100;
  opacity: 0;
  width: 1000px;
  position: absolute;
  top: 50%;
  margin-top: -300px;
}
/* line 9, ../sass/_articleviewer.scss */
#article #categories {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
}
/* line 16, ../sass/_articleviewer.scss */
#article #viewer {
  width: 600px;
  position: absolute;
  top: 0;
  left: 170px;
}
/* line 21, ../sass/_articleviewer.scss */
#article #viewer h2 {
  font-size: 24px;
}
/* line 24, ../sass/_articleviewer.scss */
#article #viewer .content {
  margin-top: 20px;
}
/* line 26, ../sass/_articleviewer.scss */
#article #viewer .content img {
  float: left;
  width: 380px;
  height: 200px;
  margin: 10px;
}
/* line 31, ../sass/_articleviewer.scss */
#article #viewer .content img:after {
  clear: both;
}
/* line 35, ../sass/_articleviewer.scss */
#article #viewer .content > * {
  margin: 10px;
}
/* line 41, ../sass/_articleviewer.scss */
#article #byCategory {
  width: 400px;
  overflow: hidden;
  position: absolute;
  left: 790px;
  top: 0;
}
/* line 47, ../sass/_articleviewer.scss */
#article #byCategory h2 {
  font-size: 24px;
}
/* line 50, ../sass/_articleviewer.scss */
#article #byCategory ul {
  overflow: hidden;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
/* line 9, ../sass/_jsScroll.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 15, ../sass/_jsScroll.scss */
.jspPane {
  position: absolute;
}

/* line 20, ../sass/_jsScroll.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red;
}

/* line 30, ../sass/_jsScroll.scss */
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

/* line 41, ../sass/_jsScroll.scss */
.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_jsScroll.scss */
.jspCap {
  display: none;
}

/* line 52, ../sass/_jsScroll.scss */
.jspHorizontalBar .jspCap {
  float: left;
}

/* line 57, ../sass/_jsScroll.scss */
.jspTrack {
  background: #dde;
  position: relative;
}

/* line 63, ../sass/_jsScroll.scss */
.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 73, ../sass/_jsScroll.scss */
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

/* line 79, ../sass/_jsScroll.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 87, ../sass/_jsScroll.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 93, ../sass/_jsScroll.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 98, ../sass/_jsScroll.scss */
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

/* line 105, ../sass/_jsScroll.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 110, ../sass/_jsScroll.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 118, ../sass/_jsScroll.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
