#article{
	width: 1000px;
	position: absolute;
	top: 50%;
	margin-top: -300px;
	.content {
		img{
			float:left;
			&:after{
				clear:both;
			}
		}
		&>*{
			margin:10px;
		}
	}
	#viewer
	{
		width: 600px;
		position: absolute;
		top:0;
		left:0;
		h2{
			font-size:24px;
		}
	}
	#byCategory
	{
		width: 400px;
		position: absolute;
		left: 620px;
		top: 0;
		h2{
			font-size:24px;
		}
		ul{
			overflow:hidden;
		}
	}
}