{{! <span class="tooltip"></span> }}
<ul>
    {{#each categories}}
    <li>
        <img src="images/categories/picto_paleofuture_{{short}}.png"/>
        <span class="tooltip">{{long}}</span>
    </li>
    {{/each}}
</ul>