<div class="ddClose">x</div>
<div class="community">
<div class="dents"></div>
    <div class="login">
        <h2>My account</h2>

        <label for="username">Username</label>
        <input type="text" name="username" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <label for="cookie">Stay logged</label>
        <input type="checkbox" name="cookie"/>
        <input type="submit" value="Submit"/>

        <a href="#">Forgotten password</a>

        <p>You must be logged in to access the Paleofuture community.</p>
    </div>

    <div class="subscribe">
        <h2>I subscribe</h2>

        <p>Subscribe to get full access to the webzine and receive the PaleoBox. $5/trimester !</p>
        <img src="images/dropdown/paypal.png"/>
        <a href="#">Read the conditions of service</a>
        <div class="go">Click here to subscribe</div>
    </div>
<div class="dents reverse"></div>
</div>