<div class="ddClose">x</div>
<div class="about">
<div class="dents"></div>
    <h2>Matt Novak</h2>

    <div class="photo">
        <img src="images/dropdown/matt.jpg"/>
        <p>Matt Novak at the Mary Blair exhibit in Disneyland. Photo by Chloe Rice (http://itschloe.com)</p>
    </div>

    <div class="matt">
        <p>Matt Novak writes the Paleofuture blog for Smithsonian magazine, The Paleofuturist column for the BBC, and the Retrofuturism column for The Daily. He also writes about old inventions for Pacific Standard.</p>
        <p>Matt has written for Slate, The Verge, GOOD, Wall Street Journal, TheAtlantic.com, FWD and is the editor of Paleofuture Magazine.</p>
        <p>Matt can be reached at matt@paleofuture.com or followed on Twitter. He lives in Los Angeles.</p>
    </div>

    <ul>
        <li><a href="https://plus.google.com/117679975462656014143/posts"><img src="images/dropdown/gplus.png" /></a></li>
        <li><a href="https://twitter.com/paleofuture"><img src="images/dropdown/tw.png" /></a></li>
        <li><a href="https://www.facebook.com/paleofuture"><img src="images/dropdown/fb.png" /></a></li>
        <li><a href="http://www.paleofuture.com/blog/rss.xml"><img src="images/dropdown/rss.png" /></a></li>
    </ul>

<div class="dents reverse"></div>
</div>