<div class="ddClose">x</div>
<div class="paleobox">
<div class="dents"></div>
    <h2>Paleobox #7</h2>

    <div class="big">
        <img src="images/dropdown/pbox-big.jpg"/>
        <p>Subscribe for $5/month and get the Paleobox and its futuristic surprises at home !</p>
        <span class="go">Subscribe now</span>
    </div>

    <ul>
        <li><img src="images/dropdown/pbox-small.jpg" /></li>
        <li><img src="images/dropdown/pbox-small.jpg" /></li>
        <li><img src="images/dropdown/pbox-small.jpg" /></li>
        <li><img src="images/dropdown/pbox-small.jpg" /></li>
    </ul>

<div class="dents reverse"></div>
</div>