<div class="top">
    <img src="images/fake/avatar.png" />
    <span class="menu">Disconnect   |   542 friends   |   145 pins</span>
    <ul>
        <li>All contents</li>
        <li>Popular</li>
        <li>Categories</li>
        <li>Add content</li>
        <li>Friends</li>
        <li>Messages</li>
    </ul>
</div>


<ul class="bottom">
    <li><img src="images/fake/future.jpg" /></li>
    <li><img src="images/fake/crazy.jpg" /></li>
    <li><img src="images/fake/world.jpg" /></li>
    <li><img src="images/fake/grandma.jpg" /></li>
    <li><img src="images/fake/techno.jpg" /></li>
    <li><img src="images/fake/cars.jpg" /></li>
</ul>