<span class="tooltip">Drag me !</span>
<div class="view">
    <span class="dragBound">
        <div class="helper">
            <div class="handle">1870</div>
        </div>
    </span>
    <ul class="ten">
        {{#each decades}}
        <li>{{this}}
            <span><span></span></span>
        </li>
        {{/each}}
    </ul>
    <ul class="all">
        {{#each years}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>